body {
    background-color: #1d5ca1;
}

#reader {
    width: 300px;
    height: 250px;
}

.qr-text {
    color: #e3e3e3;
}

.inner {
    position: relative;
    max-width: 640px;
    padding: 20px 10px;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.scanner-laser{
    position: absolute;
    margin: 40px;
    height: 30px;
    width: 30px;
}
.laser-leftTop{
    top: 0;
    left: 0;
    border-top: solid red 5px;
    border-left: solid red 5px;
}
.laser-leftBottom{
    bottom: 0;
    left: 0;
    border-bottom: solid red 5px;
    border-left: solid red 5px;
}
.laser-rightTop{
    top: 0;
    right: 0;
    border-top: solid red 5px;
    border-right: solid red 5px;
}
.laser-rightBottom{
    bottom: 0;
    right: 0;
    border-bottom: solid red 5px;
    border-right: solid red 5px;
}

#cameraId {
    width: 320px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#cameraId:hover {
    opacity: 1;
}